out/
*.class
build/
.gradle/
target/
tests/**/actual.load
tests/**/actual.listing
Listing.txt
Load.txt
.vscode/
.idea/
*.iml
.project
.classpath
.settings/
Thumbs.db
desktop.ini
.DS_Store
*~
*.log
*.tmp
